services:
  spark-app:
    # Build the image using the Dockerfile inside the 'transform' folder
    build: 
      context: .
      dockerfile: Dockerfile
    
    # Map the secret file using a simple relative path
    # Docker Compose handles the Windows C:\ conversion automatically!
    volumes:
      - ./.secrets/transform-gcp-key.json:/app/gcp-credentials.json
    
    env_file:
      - .env

    environment:
      # Map the variables from the .env file to the container
      - PROJECT_ID=${PROJECT_ID}
      - GCS_BUCKET_NAME=${GCS_BUCKET_NAME}
      - BQ_DATASET=${BQ_DATASET}
      - INGESTOR_GCP_KEY=/app/gcp-credentials.json